@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/564x/78/0e/cd/780ecdace24a24a3df306ad0e2423e7f.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.background1 {
    width: 70vw;
    height: 90vh;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 1rem;
    display: flex;
}

h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 2.3vh;
}

#divide {
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

#today {
    margin-left: 0.25vw;
}

#total {
    margin-left: 0.5vw;
}

.section1 {
    background-color: #fff;
    width: 20vw;
    height: 80vh;
    margin-top: 1.7vh;
    margin-left:2.5vw;
    border-radius: 1rem;
    font-family: 'DungGeunMo';

}

.name1 {
    display: flex;
}

.name3 {
    background-color: rgba(255, 237, 250, 1);
    width: 17.5vw;
    height: 4.7vh;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25vw;
        margin-top: 2vh;
        
}

.mainImage {
    background-color: rgba(255, 237, 250, 1);
    width:17.5vw;
    height: 24vh;
    border-radius: 0.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1vh;
    margin-left: 1.25vw;

}

#image1 {
    width: 15.3vw;
    height: 21vh;
    border-radius: 0.4rem;
    object-fit: cover;
}

#notice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 15px;
    margin-top: 7vh;
    font-family: 'DungGeunMo';
}

#friend {
    background-color: rgba(255, 237, 250, 1);
    width: 17.5vw;
    height: 4.7vh;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25vw;
    margin-top: 7vh;
}

.friending {
    display: flex;
    flex-wrap: wrap; /* 이미지를 여러 줄로 나누기 위해 필요한 속성 */
    align-items: center;
    justify-content: center; /* 가로 정렬을 위해 필요한 속성 */
    margin-top: 1.5vh;
  }
  
.friending1 > img {
    border-radius: 0.3rem;
    width: 5vw;
    height: 10vh;
    margin: 0 0.15vw;
    margin-bottom: 0.5vh;
}

.friending2 > img {
    border-radius: 0.3rem;
    width: 5vw;
    height: 10vh;
    margin: 0 0.15vw;
}


.section2 {
    background-color: #fff;
    width: 42vw;
    height: 80vh;
    border-radius: 1rem;
    margin-top: 6.4vh;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left:1;
    top: 0; 
    margin-top: 16vh;
    margin-left: 42vw;
}


#li > li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
    list-style: none;
    color: inherit;
    width: 10vh;
    height: 6vh;
    font-size: 15px;
    background-color: #FFB5E6;
    margin-top: 1.3vh;
    font-family: 'DungGeunMo';
}

#li > li:hover {
    background-color: rgba(245, 245, 245, 1);
}

a {
    text-decoration: none;
    color: inherit;
}


.bigBox {
    margin-right: 2vw;
}

.box1 {
    width: 35vw;
    height: 26vh;
    background-color: rgba(255, 237, 250, 1);
    display: flex;
    border-radius: 1vw;
}

.profile {
    width: 11vw;
    height: 22vh;
    object-fit: cover;
    border-radius: 2vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

.myInfo {
    margin-left:8vw;

    
}

.minibox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li2 > li {
    list-style: none;
    font-size: 15px;
    margin-top: 1vh;
    margin-left: 2.5vw;
}

.box2 {
    width: 35vw;
    height: 13vh;
    background-color: rgba(255, 237, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    margin-top: 1vw;
}


.box3 {
    width: 35vw;
    height: 30vh;
    background-color: rgba(255, 237, 250, 1);
    display: flex;
    border-radius: 1vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepi {
    width: 33vw;
    height: 26vh;
    border-radius: 1vh;
    object-fit: cover;
}
