@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'NeoDunggeunmo';
}

body {
    background-image: url('https://i.pinimg.com/564x/78/0e/cd/780ecdace24a24a3df306ad0e2423e7f.jpg' );
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background1 {
    position: relative;
    background-color: rgb(249, 249, 249,0.7);
    width: 68.8125rem;
    height: 42.3625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
}

.date {
    position: absolute;
    top: 2.9rem;
    left: 19.15rem;
}

#divide {
    margin-left: 5px;
    margin-right: 5px;
}

.section1 {
    position: absolute;
    top: 4.7rem;
    left: 15.8rem;
    background-color: #ffffff;
    width: 18.2rem;
    height: 37.125rem;
    border-radius: 15px;
}  

#image1 {
    width: 14.8rem;
    height: 9.5rem;
    margin-left: 9.5px;
    margin-top: 10px;
    border-radius: 8px;
} 

.name {
    position: absolute;
    top:1.01rem;
    left: 1.16rem;
    background-color: #FFEDFA;
    width: 16rem;   
    height: 2.2rem;
    border-radius: 11px;
    border: 1px solid #FEF1F1;
    
}

#named {
    position: absolute;
    top:0.6rem;
    left: 6.8rem;
}

.mainImage {
    position: absolute;
    top:4rem;
    left: 1.16rem;
    background-color: #FFEDFA;
    width: 16rem;
    height: 10.9rem;
    border-radius: 11px;
    border: 1px solid #FEF1F1;
}   

#notice {
    position: absolute;
    top: 18.3rem;
    left:2.5rem;
    font-size: 15px;
}

.friends {  
    position: absolute;
    top: 23rem;
    left: 1.16rem;
    width: 16rem;
    height: 2.2rem;
    background-color: #FFEDFA;
    border-radius:11px;
    border: 1px solid #FEF1F1;
}

#friend {
    position: absolute;
    top: 0.5rem;
    left: 5.8rem;
}

.friending img {
    
}

#friend1,#friend2,#friend3, #friend4, #friend5, #friend6 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5px;
    position: absolute;
}

#friend1{
    top: 3rem;
    left: 0.7rem;
}

#friend2 {
    top: 3rem;
    left: 5.7em;
}

#friend3 {
    top: 3rem;
    left: 10.7rem;
}

#friend4 {
    top: 8rem;
    left: 0.7rem;
}

#friend5 {
    top: 8rem;
    left: 5.7rem;
}

#friend6 {
    top: 8rem;
    left: 10.7rem;
}

.section2 {
    position: absolute;
    top: 4.7rem;
    left: 35rem;
    background-color: #ffffff;
    width: 43.5625rem;
    height: 37.125rem;
    border-radius: 15px;
}


li {
    list-style: none;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: inherit;
    width: 4.7rem;
    height: 2.6rem;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

#home {
    position: absolute;
    top:3.5rem;
    left:41.3rem;
    background-color: #FFB5E6;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile {
    position: absolute;
    top:6.8rem;
    left:41.3rem;
    background-color: #FFB5E6;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#noticeBoard {
    position: absolute;
    top:10.1rem;
    left:41.3rem;
    background-color: #FFB5E6;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#guestBook {
    position: absolute;
    top:13.4rem;
    left:41.3rem;
    background-color: #FFB5E6;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    position: absolute;
    top:16.7rem;
    left:41.3rem;
    background-color: #FFB5E6;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home:hover,
#profile:hover,
#noticeBoard:hover,
#guestBook:hover,
#game:hover {
    background-color: #F5F5F5;
}