@font-face {
    font-family: "NeoDunggeunmo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/564x/78/0e/cd/780ecdace24a24a3df306ad0e2423e7f.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background1 {
    width: 70vw;
    height: 85vh;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 1rem;
    display: flex;
}

.date {
    text-align: center;
    display: flex;
    justify-content: center;
}

.section1 {
    background-color: #fff;
    width: 20vw;
    height: 75vh;
    margin-top: 2vh;
    margin-left:3vw;
    border-radius: 1rem;


}

.name {
    background-color: rgba(255, 237, 250, 1);
    width: 16vw;
    height: 4vh;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainImage {
    background-color: rgba(255, 237, 250, 1);
    width: 16vw;
    height: 20vh;
}

#image1 {
    width: 18vw;
    height: 20vh;
}

.section2 {
    background-color: #fff;
    width: 40vw;
    height: 75vh;
    border-radius: 1rem;
}


.friending {
    border-radius: 0.3125rem;
    width: 5vw;
    height: 5vh;
}