@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/564x/78/0e/cd/780ecdace24a24a3df306ad0e2423e7f.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.background1 {
    width: 70vw;
    height: 90vh;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 1rem;
    display: flex;
}

h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 2.3vh;
}

#divide {
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

#today {
    margin-left: 0.25vw;
}

#total {
    margin-left: 0.5vw;
}

.section1 {
    background-color: #fff;
    width: 20vw;
    height: 80vh;
    margin-top: 1.7vh;
    margin-left:2.5vw;
    border-radius: 1rem;


}

.name1 {
    display: flex;
}

.name3 {
    background-color: rgba(255, 237, 250, 1);
    width: 17.5vw;
    height: 4.7vh;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25vw;
        margin-top: 2vh;
        
}

.mainImage {
    background-color: rgba(255, 237, 250, 1);
    width:17.5vw;
    height: 24vh;
    border-radius: 0.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1vh;
    margin-left: 1.25vw;

}

#image1 {
    width: 15.3vw;
    height: 21vh;
    border-radius: 0.4rem;
}

#notice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 15px;
    margin-top: 7vh;
}

#friend {
    background-color: rgba(255, 237, 250, 1);
    width: 17.5vw;
    height: 4.7vh;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25vw;
    margin-top: 7vh;
}

.friending {
    display: flex;
    flex-wrap: wrap; /* 이미지를 여러 줄로 나누기 위해 필요한 속성 */
    align-items: center;
    justify-content: center; /* 가로 정렬을 위해 필요한 속성 */
    margin-top: 1.5vh;
  }
  
.friending1 > img {
    border-radius: 0.3rem;
    width: 5vw;
    height: 10vh;
    margin: 0 0.15vw;
    margin-bottom: 0.5vh;
}

.friending2 > img {
    border-radius: 0.3rem;
    width: 5vw;
    height: 10vh;
    margin: 0 0.15vw;
}


.section2 {
    background-color: #fff;
    width: 42vw;
    height: 80vh;
    border-radius: 1rem;
    margin-top: 6vh;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5vh;
}

.mini2 {
    border-radius: 2vh;
    width:35vw;
    height:62vh;
    margin-right:2vw;
    background-color:rgba(255, 237, 250, 1);
    margin-bottom: 2vh;
}

.chat {
    border-radius: 2vh;
    width:35vw;
    height:10vh;
    margin-right:2vw;
    background-color:rgba(255, 237, 250, 1);
    
}

.send {
    margin-top: 3.9vh;
    margin-left:30.5vw;
    width: 3.7vw;
    height: 4.5vh;
    border: none;
    border-radius: 3vw;
    background-color: #FFB5E6;
    color: #000000;
    font-size: 1vw;
    cursor: pointer;
}


#guestBook {
    background-color: rgba(245, 245, 245, 1);
}

h1 {
    font-size: 25pt;
    margin-top: 5px;
    margin-bottom: 26px;
}

.mini3 {
    margin-top:2.5vh;
}

.comment {
    margin-left: 1.5vw;
    margin-top:2vh;
    background-color: rgba(255, 255, 255, 0.8);
    width: 85%;
    border-radius: 0.9vw;
    padding: 1vw;
    border-radius: 5px;

}

.comment p {
    margin: 0;
}

.comment .name {
    font-weight: bold;
}

.comment .timestamp {
    margin-left: 0.5vw;
    font-size: 0.9vh;
    rgba(105, 105, 105, 1)
}

#comment-form {
    width: 35vw;
    height: 30vh;
}

.form-input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

.form-textarea {
    display: block;
    margin-bottom: 0.6vw;
    padding: 5px;
    border-style: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    resize: vertical;
    height: 110px;
}

.form-submit {
    width: 3.7vw;
    height: 4.5vh;
    border: none;
    border-radius: 3vw;
    background-color: #FFB5E6;
    color: #000000;
    font-size: 1vw;
    cursor: pointer;
}

.form-submit:hover {
    background: rgba(245, 245, 245, 1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left:1;
    top: 0; 
    margin-top: 16vh;
    margin-left: 42vw;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
    list-style: none;
    color: inherit;
    width: 11vh;
    height: 6.5vh;
    font-size: 14px; 
    background-color: #FFB5E6;
    margin-top: 1.3vh;
}

li:hover {
    background-color: rgba(245, 245, 245, 1);
}

a {
    text-decoration: none;
    color: inherit;
}