@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #FFEDFA;
    width: 100%;

}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.minibox {
    width: 20vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 30px 4px rgba(100, 100, 100, 0.10);
    color: #000;
    font-size: 25px;
}


.box > div {
    margin: 0 6vh;
}

.box {
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}   

.popcat {
    width: 20.8125rem;
    height: 20.8125rem;
    flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 0px 30px 4px rgba(100, 100, 100, 0.10);
}

.popcat1 {
    color: #000;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 1.3rem;
display: flex;
text-align: center;
justify-content: center;
}

.poptext {
    color: #3A3A3A;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
text-align: center;
justify-content: center;
}

.popcatIcon {
width: 10.3rem;
height: 10.3rem;
display: flex;
align-items: center;
justify-content: center;
margin-left: 5.35rem;
margin-top: 0;
}

.popPlus {
    display: flex;
width: 14.125rem;
padding: 0.8125rem 4.75rem;
justify-content: center;
align-items: center;
border-radius: 0.625rem;
background: var(--unnamed, #FFB5E6);
margin-left: 3.4rem;
color: #FFF;
font-size: 1rem;
border-style: none;
margin-top: 0.5rem;

}

.apple {
    width: 20.8125rem;
    height: 20.8125rem;
    flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 0px 30px 4px rgba(100, 100, 100, 0.10);
}

.apple1 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}


.appletext {
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: center;
    justify-content: center;
}


.appleIcon {
    width: 10.3rem;
    height: 10.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5.3rem;
    margin-top: 0;
}

.applePlus {
    display: flex;
    width: 14.125rem;
    padding: 0.8125rem 4.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--unnamed, #FFB5E6);
    margin-left: 3.4rem;
    color: #FFF;
    font-size: 1rem;
    border-style: none;
    margin-top: 0.5rem;
}



.word {
    width: 20.8125rem;
    height: 20.8125rem;
    flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 0px 30px 4px rgba(100, 100, 100, 0.10);
}

.word1 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wordtext {
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wordIcon {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5.4rem;
    margin-top: 0;
}

.wordPlus {
    display: flex;
    width: 14.125rem;
    padding: 0.8125rem 4.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--unnamed, #FFB5E6);
    margin-left: 3.4rem;
    color: #FFF;
    font-size: 1rem;
    border-style: none;
    margin-top: 0.7rem;
}


